<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course-Management-App</title>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../stylesheets/spacelab-theme.css">
    <script src="/libs/jquery/jquery-2.1.3.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Courses</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/courses/top10">Top 10 Courses</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><%=user.username%> - Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<ul class="nav nav-pills nav-stacked">
    <% for (var i = 0; i < courses.length; i++) {%>
    <li><a href="/courses/<%=courses[i]._id%>"><%=courses[i].title%></a></li>
    <%}%>
</ul>

</body>
</html>